/db.sqlite
.idea/clickeronline.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/main.cpython-39.pyc
.idea/.gitignore
.vscode/settings.json
